body {
  margin: 0;
  font: 300 16px/22px "Roboto Mono", monospace;
  color: white;
  background: #1E2731;
  letter-spacing: 1px; }

h1 {
  font: 400 40px/66px 'Oswald', sans-serif;
  margin: 20px 0;
  letter-spacing: 3px; }
  @media (min-width: 768px) {
    h1 {
      font-size: 60px; } }

h2 {
  font: 400 24px/30px 'Oswald', sans-serif;
  letter-spacing: 3px; }

h3 {
  font: 400 14px/20px 'Oswald', sans-serif;
  letter-spacing: 3px; }

.button {
  padding: 15px 40px;
  min-width: 150px;
  display: inline-block;
  background-image: linear-gradient(-180deg, #47D7C7 0%, #065076 90%);
  background-size: 130% auto;
  box-shadow: 0 2px 10px 0 rgba(32, 36, 41, 0.5);
  border-radius: 30px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.5, 0, 0.5, 1); }
  .button:hover {
    background-size: 100% auto;
    box-shadow: 0 2px 30px 5px rgba(0, 0, 0, 0.35);
    transform: scale(1.05); }
  .button:active {
    transform: scale(0.98); }
  .button h3 {
    margin: 0; }

a {
  color: #46D4C5;
  text-decoration: none;
  font-weight: 700; }

/*******************************
********************************

			Navigation

********************************
*******************************/
.hamburger {
  height: 70px;
  width: 70px;
  position: absolute;
  top: 0;
  right: 0;
  margin: auto;
  z-index: 70; }
  @media (min-width: 768px) {
    .hamburger {
      display: none; } }

.nav-wrapper {
  height: 70px;
  width: 70px;
  position: fixed;
  right: 20px;
  background: #2E3C4B;
  z-index: 69;
  border-radius: 50% 50%;
  transition: all .3s ease;
  transition-delay: .3s; }
  @media (max-width: 768px) {
    .nav-wrapper {
      box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.5);
      top: 20px; } }
  .nav-wrapper .bar {
    height: 2px;
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #8092A6;
    border-radius: 10px;
    transition: all .3s ease; }
    .nav-wrapper .bar.top {
      top: -18px; }
    .nav-wrapper .bar.bot {
      bottom: -18px; }
  .nav-wrapper .top-open {
    transform: rotate(45deg) scale(1.1);
    top: 0 !important; }
  .nav-wrapper .mid-open {
    width: 0; }
  .nav-wrapper .bot-open {
    transform: rotate(-45deg) scale(1.1);
    bottom: 0 !important; }
  @media (min-width: 768px) {
    .nav-wrapper {
      height: 100vh;
      width: 150px;
      left: 0;
      right: auto; } }

.wrapper-open {
  height: 100vh;
  width: 100vw;
  border-radius: 0;
  top: 0;
  right: 0;
  transition-delay: 0s; }
  @media (min-width: 768px) {
    .wrapper-open {
      height: 0px;
      width: 0px; } }

.nav {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2E3C4B;
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  transition: all .3s ease;
  transition-delay: 0s; }
  @media (min-width: 768px) {
    .nav {
      opacity: 1;
      visibility: visible;
      width: 150px;
      transform: scale(1); } }
  .nav .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    text-align: center;
    color: white;
    position: relative;
    border-top: 1px solid #434F5D;
    transition: all .2s ease-in-out; }
  .nav #home {
    position: relative; }
  .nav .nav-link::after, .nav .social-link::after {
    content: "";
    height: 30%;
    width: 30%;
    border-radius: 50% 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #434F5D;
    z-index: -1;
    opacity: 0;
    transition: all .2s ease-in-out; }
  @media (min-width: 769px) {
    .nav .nav-link:hover::after, .nav .social-link:hover::after {
      opacity: 1;
      height: 100%;
      width: 100%;
      border-radius: 0; } }
  .nav .nav-link:active::after, .nav .social-link:active::after {
    height: 80%;
    width: 85%;
    border-radius: 5px;
    transition: all .1s ease; }

.social-container {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  flex: 1;
  flex-grow: 1.5;
  border-top: 1px solid #434F5D; }
  .social-container .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    position: relative;
    border-right: 1px solid #434F5D;
    border-bottom: 1px solid #434F5D;
    transition: all .1s ease-in-out; }
    @media (min-width: 768px) {
      .social-container .social-link {
        width: 49.3%; } }

.nav-open {
  opacity: 1;
  visibility: visible;
  transition-delay: .3s;
  transform: scale(1); }

.body-open {
  overflow: hidden; }

@media (min-width: 768px) {
  .container {
    width: calc(100% - 150px);
    padding-left: 150px; } }
section {
  position: relative;
  padding: 40px; }
  @media (min-width: 1024px) {
    section {
      padding: 100px; } }
  @media (min-width: 2000px) {
    section {
      padding: 100px 300px; } }

.no-padding {
  background: #1E2731;
  padding: 0 1px; }
  @media (min-width: 768px) {
    .no-padding {
      padding: 1px 100px; } }

p {
  line-height: 28px;
  color: #8092A6; }
  @media (min-width: 1024px) {
    p {
      width: 50%; } }

/*******************************
********************************

			Hero

********************************
*******************************/
#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding: 0;
  position: relative;
  background: url(../img/hero/sip-it.jpg);
  background-size: cover; }
  #hero .cta {
    padding: 0 40px; }
  #hero #hero-subheading {
    text-align: left;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 2px; }
  #hero .button {
    margin-top: 10px; }
  #hero #scroll {
    position: absolute;
    right: 0;
    bottom: 30px;
    left: 0;
    width: 100px;
    margin: auto;
    padding: 60px 0 0 0;
    color: white;
    transition: all .3s ease; }
    #hero #scroll:hover {
      bottom: 25px; }
  #hero #ball {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: white;
    border-radius: 50% 50%;
    animation: scroll 2s ease infinite .5s; }
  #hero #track {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-image: -webkit-linear-gradient(rgba(128, 146, 166, 0) 0%, #8092A6 100%);
    background-image: -o-linear-gradient(rgba(128, 146, 166, 0) 0%, #8092A6 100%);
    background-image: linear-gradient(rgba(128, 146, 166, 0) 0%, #8092A6 100%);
    border-radius: 30px;
    animation: track 2s ease infinite .5s; }

/*******************************
********************************

			Shows

********************************
*******************************/
#shows, #livestream {
  background: #1E2731;
  padding-bottom: 5px; }

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }
  @media (min-width: 768px) {
    .video-wrapper {
      border: 2px solid #2E3C4B;
      margin: 30px 0 50px 0; } }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/*******************************
********************************

			Music

********************************
*******************************/
#music {
  background: linear-gradient(134deg, #256D98 10%, #BA3C64 52%, #332340 100%);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite; }
  #music .music-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    margin: 50px 0; }
    @media (min-width: 1024px) {
      #music .music-wrapper {
        margin: 100px -25px; } }
  #music a {
    color: white; }
  #music .music-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 130px;
    width: 130px;
    margin: 20px 0;
    background: rgba(30, 39, 49, 0.5);
    border-radius: 50% 50%;
    transition: all .3s ease; }
    @media (min-width: 768px) {
      #music .music-link {
        height: 200px;
        width: 200px; } }
    @media (min-width: 1024px) {
      #music .music-link {
        height: 250px;
        width: 250px;
        margin: 20px 25px; }
        #music .music-link:hover {
          transform: scale(1.2); }
          #music .music-link:hover h2 {
            opacity: 1;
            bottom: 55px; }
          #music .music-link:hover img {
            margin-top: -50px; } }
    #music .music-link.disabled {
      color: #8092A6; }
    #music .music-link:active {
      transform: scale(1.1); }
    #music .music-link h2 {
      position: absolute;
      right: 0;
      bottom: 20px;
      left: 0;
      opacity: 0;
      transition: all .3s ease; }
    #music .music-link img {
      width: 60px;
      transition: all .3s ease; }
      @media (min-width: 768px) {
        #music .music-link img {
          width: 110px; } }

@media (min-width: 768px) {
  #youtube {
    padding-bottom: 100px; } }

/*******************************
********************************

		   Livestream

********************************
*******************************/
/*******************************
********************************

			Contact

********************************
*******************************/
#contact {
  background: #1E2731;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden; }
  #contact li {
    margin: 20px 0;
    color: #8092A6; }
  #contact .left {
    width: 100%;
    z-index: 1; }
    @media (min-width: 768px) {
      #contact .left {
        width: 50%; } }
  #contact .right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%; }
    @media (min-width: 768px) {
      #contact .right {
        width: 50%;
        height: 600px; } }
    #contact .right a {
      z-index: 1; }
  #contact .pulse {
    height: 250px;
    width: 250px;
    border: 1px solid #2E3C4B;
    border-radius: 50% 50%;
    position: absolute;
    opacity: 0;
    z-index: 0;
    animation: pulse 4s ease-in-out infinite; }
    #contact .pulse.b {
      animation-delay: 1s; }
    #contact .pulse.c {
      animation-delay: 2s; }
    #contact .pulse.d {
      animation-delay: 3s; }

/*******************************
********************************

			Footer

********************************
*******************************/
#footer {
  width: 100%;
  padding: 30px 0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  color: #434F5D; }
